#navbarDropdown:hover{
	color: #000080;
}
#down:hover{
	background-color:#000080;
	color: white;
}
#right:hover{
color: #000080;	
}
#search-txt{
	padding-right: 20px;
	position: absolute;
	right: 70px;
}
#search-btn{
	position: absolute;
	right:85px; 
}
#login:hover{
 color: #000080;
}
#im{
	width: 65px;
	height: 65px;
}
input[type="search"]{

	
	border-radius: 25px 25px 25px 25px;
}
#imt{
	width: 10px;
	height: 10px;
}

#down-item{
	border-top: 4px solid #000080;
}
#home:hover{
	color: #000080;
}

.dropdown:hover>.dropdown-menu{
	display: block;
}
#navbarDropdown{
	margin-left: 25px;
}
/**/

.heady {
	height: 500px;
	width: 100%;
	padding: 30px 0 30px;
	margin-top: 20px;
	
	text-align: center;
}
.heady h1{
	font-size: 40px;
	font-weight: 700;
	padding-top: 70px;
	}

nav{
	background-color: #5F6A6A;
}


.heady img{
	height: 450px;
	width: 350px;
    margin: 0 0 0 70px;
    border-radius: 50%;
}

/*slider image setting*/
.d-block{
	height: 500px;
}

.header {
	height: 600px;
	width: 100%;
	padding: 30px 0 30px;
	margin-top: 50px;

}
.header h1{
	font-size: 40px;
	font-weight: 700;
	padding-top: 140px;
	color: #737373;


}

.header h1,
.header p,
.header button{

     margin-top: 20px;
     

}

.header .btn{
	border-radius: 0;
}

/*pricing*/

.pricing{
	padding:50px 0 80px;
	text-align: center;
	background-color: #3399ff;
}
.pricing h2,
.pricing p{
	color:#fff; 
	text-align: center;
}
.pricing p{
	padding-bottom: 40px;
}
.pricing .packages{
	padding:30px;
	border:1px solid #ccc;
	background-color: #fff;
	border-radius: 5px;
	margin-top: 30px;
}
/*
.packages li{
	display: block;
	padding: 5px;
}
*/
.packages h4{
	color: #4c4c4c;
}

.packages img{
	height: 200px;
	width: 200px;
	margin-top: 20px;

}



.packages p{
	color:#737373;
}
.packages button{
	margin-top: 2px;
}
/*team*/

.team{
	padding: 50px 0 80px;
	text-align: center;
}
.team b,
.team h2,
.team h4{
	margin: 20px 0 20px;
	color: #4c4c4c;

}
.team p{
	color: #737373;

}
.team img{
	height: 200px;
	width: 200px;
	margin-top: 80px;
	border-radius: 50%;

}
.team i{
	height: 30px;
	width: 30px;
	padding: 5px;
	font-size: 17px;
	border-radius: 50%;
	background-color: #a0db8e;
	color: #fff;
}

.team a:hover i{
	background-color: #709963;
	color: #000080;
}
/*end*/

/*contact*/
.contact {
	padding: 50px 0 80px;
	text-align: center;
}

.contact p{
	padding-bottom: 80px;
	color: #737373;
}


.contact h2{
	color: #4c4c4c;
	margin: 20px 0 20px;
	text-align: center;
}

.contact .input-group{
	margin-bottom: 25px;
}
.contact .form-control{
	border-radius: 0 !important;
}

.contact span{
	border-radius: 0 ! important;
}
.contact .btn{
	border-radius: 0;
	width: 100%;
	font-size: 15px;
	background-color: #581845;
	color: #fff;
}


.contact .btn:hover{
	background-color: #a85959;
	color: #fff ! important;
}

.contact i{
	margin-top: 15px;
	
}
/*end*/

/*footer*/
.footer{
	padding: 30px;
	color: #cccccc;
	background-color: #222222;
}
.footer .social{
	font-size: 20px;
	height: 30px;
	width: 30px;
	text-align: center;
	padding: 5px;
	border: 1px solid #cccccc;
	margin-bottom: 10px;
	margin-right: 5px;
}
.footer input{
	height: 40px;
	width: 160px;
	padding: 5px;
	border: none;
	background-color: #cccccc;
	color: #000;
}
.footer .btn{
	padding: 10px 5px 10px;
	margin: -3px 0 0 5px;
}


/*end*/




















































































































































































































